{% extends "main.html" %}
{% import "partials/nav-item.html" as item with context %}

{% block container %}
  <div class="md-content md-content--post" data-md-component="content">
    <div class="md-sidebar md-sidebar--post" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-post">
          <nav class="md-nav md-nav--primary" aria-label="文章导航" data-category-tree>
            <div class="md-post__back">
              <div class="md-nav__title md-nav__container">
                {% set primary_category = page.categories | first %}
                <a href="{{ primary_category.url | url }}" class="md-nav__link">
                  {% include ".icons/material/arrow-left.svg" %}
                  <span class="md-ellipsis">
                    返回{{ config.extra.category_labels.get(primary_category.title, primary_category.title) }}分类
                  </span>
                </a>
              </div>
            </div>

            {% set category_tree_expand_all = false %}
            {% include "partials/category-sidebar.html" %}

            {% if page.config.links %}
              <ul class="md-post__meta md-nav__list">
                <li class="md-nav__item md-nav__item--section">
                  <div class="md-post__title">
                    <span class="md-ellipsis">{{ lang.t("blog.references") }}</span>
                  </div>
                  <nav class="md-nav">
                    <ul class="md-nav__list">
                      {% for nav_item in page.config.links %}
                        {% set path = "__ref_" ~ loop.index %}
                        {{ item.render(nav_item, path, 1) }}
                      {% endfor %}
                    </ul>
                  </nav>
                </li>
              </ul>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
    <div class="md-content__inner">
      {% if "navigation.path" in features %}
        {% include "partials/category-path.html" %}
      {% endif %}
      <article class="md-typeset">
        {% block content %}
          {% include "partials/content.html" %}
        {% endblock %}
      </article>
    </div>
  </div>
{% endblock %}
