<article
  class="md-post md-post--excerpt"
  data-post-published="{{ post.meta.published_at }}"
  data-post-updated="{{ post.meta.updated_at or post.meta.published_at }}"
  data-post-title="{{ post.title }}"
  data-post-categories="{% for category in post.categories %}{{ category.title | e }}{% if loop.revindex > 1 %}|{% endif %}{% endfor %}"
>
  <header class="md-post__header">
    <div class="md-post__meta md-meta">
      <ul class="md-meta__list">
        <li class="md-meta__item">
          发布于
          <time datetime="{{ post.meta.published_at }}">
            {{- post.meta.published_at | date -}}
          </time>
        </li>
        {% if post.meta.updated_at and post.meta.updated_at != post.meta.published_at %}
          <li class="md-meta__item">
            更新于
            <time datetime="{{ post.meta.updated_at }}">
              {{- post.meta.updated_at | date -}}
            </time>
          </li>
        {% endif %}
        {% if post.categories %}
          <li class="md-meta__item">
            {% for category in post.categories %}
              <a href="{{ category.url | url }}" class="md-meta__link">
                {{- config.extra.category_labels.get(category.title, category.title) -}}
              </a>
              {%- if loop.revindex > 1 %}, {% endif -%}
            {% endfor -%}
          </li>
        {% endif %}
        {% if post.config.readtime %}
          {% set time = post.config.readtime %}
          <li class="md-meta__item">
            {% if time == 1 %}
              {{ lang.t("readtime.one") }}
            {% else %}
              {{ lang.t("readtime.other") | replace("#", time) }}
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div>
  </header>
  <div class="md-post__content md-typeset">
    {{ post.content }}
    {% if post.more %}
      <nav class="md-post__action">
        <a href="{{ post.url | url }}">{{ lang.t("blog.continue") }}</a>
      </nav>
    {% endif %}
  </div>
</article>
